.weather-container {
  display: flex;
  justify-content: center;
}
.search-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.search-box {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 650px;
}

.search-bar {
  padding: 1.2rem 1rem;
  border-radius: 1rem;
  border: none;
  font-size: 20px;
  margin-top: 20px;
  background: rgba(255, 255, 255, 0.4);
  width: 100%;
}

.input-wrapper {
  width: 100%;
  position: relative;
  margin-right: 2rem;
}

input:focus {
  outline: none;
  border: none;
  box-shadow: none;
}

.error-container {
  padding: 20px;
}

#error {
  font-size: 1rem;
  color: red;
  margin-top: 1rem;
  padding: 1rem;
  border: 1px solid red;
  border-radius: 5px;
  background-color: rgba(255, 0, 0, 0.1);
}

.placeholder-label {
  position: absolute;
  pointer-events: none;
  left: 15px;
  top: 25px;
  z-index: 2;
  transition: 0.3s ease all;
}

.search-bar:focus ~ .placeholder-label,
.search-bar:not(:placeholder-shown) ~ .placeholder-label {
  font-size: small;
  font-family: Arial, Helvetica, sans-serif;
  transition: 0.3s ease all;
  opacity: 0.5;
}

.search-btn {
  color: white;
  font-size: 30px;
  margin-top: 20px;
  background-color: #6f3fb5;
  border-radius: 15px;
  border: none;
  padding: 15px;
  margin-left: 1rem;
  cursor: pointer;
  transition: 0.3s ease all;
}

.weather-wrapper {
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.25);
  width: 100%;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  max-width: 650px;
  margin-top: 100px;
}

.weather-info {
  padding: 20px;
}

.weather-content {
  justify-content: space-between;
  display: flex;
}

.weather-img {
  max-width: 12rem;
}

.cloud-contain {
  position: absolute;
  top: -80px;
  right: 0;
}

.temp {
  font-size: 6rem;
  color: #6c40b5;
  font-weight: bold;
}

.other-info {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  align-items: stretch; /* added this line */
  opacity: 0.6;
  margin-top: 10px;
  font-size: 14px;
}

.search-btn {
  z-index: 2;
}

.loading-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.tr-row {
  margin-bottom: 30px;
}

.history-container {
  margin: 20px;
  padding: 20px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

table {
  width: 100%;
}

.iconBtn {
  padding: 10px;
  border-radius: 50%;
  background: white;
  border: none;
  cursor: pointer;
  font-size: 15px;
}

.history-row {
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  background: rgba(255, 255, 255, 0.4);
  padding: 10px;
  margin: 10px 0px;
}

.tr-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

td {
  padding: 0px 5px;
}

.right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 500px) {
  /*adjust accordingly for your specific mobile version*/
  .other-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px; /*adjust for desired gap btwn columns*/
  }

  .other-info .info-text:nth-of-type(even) {
    text-align: right;
  }
}
